
<div class="container home d-flex flex-column justify-content-center">

    <div class="m-4 p-4 d-flex justify-content-center">
        <div class="container text-center">
            <p class="lead"> Trusted by Millions of Indians. Start investing today.</p>
        
        <a routerLink="/login" class="btn p-2 m-2 btn-outline-success">Get Started</a>
    </div>
    </div>
    <div class="container w-100">
    <div class=" d-flex m-2 p-2 ">
        <div class="card m-2 p-2 shadow bg-white rounded" style="width: 18rem; height: 10rem;">
            <img class="card-img-top" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/mfHome.af668dea.svg "width="49" height="49"alt="Card image cap">
            <div class="card-body">
                <h4 class="text-center">Mutual Funds</h4>
            </div>
        </div>
        <div class="card m-2 p-2 shadow bg-white rounded" style="width: 18rem; height: 10rem;">
            <img class="card-img-top" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/stockHome.af2af225.svg" width="49" height="49"alt="Card image cap">
            <div class="card-body">
                <h4 class="text-center">Stocks</h4>
            </div>
        </div>
        <div class="card m-2 p-2 shadow bg-white rounded" style="width: 18rem; height: 10rem;">
            <img class="card-img-top" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/optionHome.5e98a896.svg" width="49" height="49"alt="Card image cap">
            <div class="card-body">
                <h4 class="text-center">Future & Options</h4>
            </div>
        </div>
        <div class="card m-2 p-2 shadow bg-white rounded" style="width: 18rem; height: 10rem;">
            <img class="card-img-top" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/usHome.fcb18f99.svg "width="49" height="49"alt="Card image cap">
            <div class="card-body">
                <h4 class="text-center">US Stocks</h4>
            </div>
        </div>

    </div>
</div>
</div>