<!-- <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <img src="https://i.imgur.com/uNGdWHi.png" class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Username</h6></label>
                            <input class="mb-4" [(ngModel)]="credentials.username" name="username" type="text" matInput placeholder="Enter a valid username"> </div>
                        <div class="row px-3">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                            <input [(ngModel)]="credentials.password" type="password" name="password" placeholder="Enter password" >
                        </div>
                        <div class="row mb-3 px-3 left-btn">
                            <button type="submit" class="btn btn-blue text-center">Login</button>
                        </div>
                        <div class="row mb-3 px-3 right-btn">
                            <button type="reset" class="btn btn-red text-center">Reset</button>
                        </div>
                    </form>
                    <h2 class="text-center text-danger"> {{msg}} </h2>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container mb-0">
    <section class="vh-75">
        <div class="container py-5 h-75">
          <div class="row d-flex align-items-center justify-content-center h-75">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <form (ngSubmit)="onSubmit()">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form1Example13" [(ngModel)]="credentials.username" name="username" placeholder="Enter Username" class="form-control form-control-lg" />
                  <label class="form-label" for="form1Example13">Username</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" [(ngModel)]="credentials.password" name="password" id="form1Example23" placeholder="Enter Password" class="form-control form-control-lg" />
                  <label class="form-label" for="form1Example23">Password</label>
                </div>
      
                <div class="d-flex  align-items-center mb-4">
                  <!-- Checkbox -->
                  <div class="form-check m-2">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                  </div>
                  <a href="#!">Forgot password?</a>
                </div>
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
      
                <div class="divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                </div>
      
                <a class="btn m-2 btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                  role="button">
                  <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                </a>
                <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                  role="button">
                  <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
      
              </form>
              <h4 class="text-center text-danger"> {{msg}} </h4>
            </div>
          </div>
        </div>
      </section>
  </div>